# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec
# vscode
.vscode
# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# vscode
.vscode/
*.jpg
*.zip
artifacts/training/model.h5
artifacts/prepare_callbacks/tensorboard_log_dir/tb_logs_at_2022-12-13-15-41-06/validation/events.out.tfevents.1670928498.LAPTOP-T170M8C7.2944.1.v2
artifacts/prepare_callbacks/tensorboard_log_dir/tb_logs_at_2022-12-13-15-41-06/train/events.out.tfevents.1670926270.LAPTOP-T170M8C7.2944.0.v2
artifacts/prepare_callbacks/tensorboard_log_dir/tb_logs_at_2022-12-13-14-09-42/validation/events.out.tfevents.1670924023.LAPTOP-T170M8C7.14576.1.v2
artifacts/prepare_callbacks/tensorboard_log_dir/tb_logs_at_2022-12-13-14-09-42/train/events.out.tfevents.1670920788.LAPTOP-T170M8C7.14576.0.v2
artifacts/prepare_callbacks/tensorboard_log_dir/tb_logs_at_2022-12-12-16-39-40/train/events.out.tfevents.1670843384.LAPTOP-T170M8C7.7376.0.v2
artifacts/prepare_callbacks/tensorboard_log_dir/tb_logs_at_2022-12-12-15-53-09/validation/events.out.tfevents.1670843051.LAPTOP-T170M8C7.14844.1.v2
artifacts/prepare_callbacks/tensorboard_log_dir/tb_logs_at_2022-12-12-15-53-09/train/events.out.tfevents.1670840595.LAPTOP-T170M8C7.14844.0.v2
artifacts/prepare_callbacks/checkpoint_dir/model.h5
artifacts/prepare_base_model/base_model_updated.h5
scores.json
artifacts/prepare_callbacks/tensorboard_log_dir/tb_logs_at_2022-12-15-18-04-39/validation/events.out.tfevents.1671110862.LAPTOP-T170M8C7.22420.1.v2
artifacts/prepare_callbacks/tensorboard_log_dir/tb_logs_at_2022-12-15-18-04-39/train/events.out.tfevents.1671107684.LAPTOP-T170M8C7.22420.0.v2
